<article class="paper" data-publication data-type="{{ post.pub_type }}">
<div class="paper-meta"><span>{{ post.short_venue | default: post.venue }}</span><span>{{ post.date | date: '%Y' }}</span></div>
<h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
<p class="authors">{{ post.author_list }}</p>
{% if post.short_text %}<p class="paper-summary">{{ post.short_text }}</p>{% endif %}
<div class="paper-links"><a href="{{ post.url | relative_url }}">Details ↗</a>{% if post.paperurl %}<a href="{{ post.paperurl }}">Paper ↗</a>{% endif %}{% if post.link %}<a href="{{ post.link }}">Publisher ↗</a>{% endif %}{% if post.code %}<a href="{{ post.code }}">Code ↗</a>{% endif %}</div>
</article>
